@use '../variables'
@use '../mixins'

.projects_cont
    margin-bottom: 1rem

    .projects_grid
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

    .project_card
        @include mixins.center
        display: grid
        gap: 1rem
        border: 1px solid #333
        width: 100%
        @media (min-width: 1400px)
            width: 47%
        height: auto
        border-radius: variables.$container-border
        background-position: center
        overflow: hidden
        text-align: center
        text-decoration: none

        .box_img
            width: 100%
            height: 15rem
            display: flex
            border-bottom: 1px solid #333
            background-size: cover
            background-position: center

        .project_info
            padding: 5px

        .project_info h3
            font-size: 1.5rem
            color: variables.$text-color

        .project_info p
            font-size: 1rem
            padding: 15px
        &:hover
            border: 1px solid #7c7c7c
